fastapi
uvicorn
supabase
python-dotenv
pydantic
pydantic-settings
requests
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
email-validator
sqlalchemy
psycopg2-binary
openai
httpx
stripe
pymysql
cryptography
google-auth
pyjwt
